body {
	font-family: Verdana, Geneva, Arial, san-serif;
	font-size: small;
}

@font-face {
	font-family: 'Emblema One';
	src:url('fonts/embleone-regular-webfont.eot');
	src:url('fonts/embleone-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/embleone-regular-webfont.woff') format('woff'),
		url('fonts/embleone-regular-webfont.ttf') format('truetype'),
		url('fonts/embleone-regular-webfont.svg') format('svg');
}

h1,h2 {
	color: #cc6600;
	border-bottom: thin dotted #888888;
}

h1 {
	font-family: "Emblema One",san-serif;
	font-size: 220%;
}

h2{
	font-size: 130%;
	font-weight: normal;
}

blockquote {
	font-style: italic;
}

table {
	margin-left: 20px;
	margin-right: 20px;
	boder: thin solid black;
	caption-side: bottom;
	border-collapse: collapse;
}

table table th {
	background-color: white;
}

td, th {
	border: thin dotted gray;
	padding: 5px;
}

caption {
	font-style: italic;
	padding-top: 8px;
}

th {
	background-color: #cc6600;
}

.cellcolor {
	background-color: #fcba7a;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

li {
	list-style-image: url(images/backpack.gif);
	padding-top: 5px;
	margin-left: 20px;
}